* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.pixabay.com/photo/2018/09/22/12/31/cat-3695213_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.quiz {
  width: 100%;
  max-width: 600px;
  min-height: 500px;
  background-color: white;
  padding: 40px 30px 70px;
  border-radius : 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-image: url("https://t3.ftcdn.net/jpg/04/93/55/02/360_F_493550205_qnipuTXGIDtGUo7eaX076cAdicSIETX0.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.start-page h1 {
  text-align: center;
  font-family: "Apple Chancery", cursive;
  font-size: 60px;
  color: rgb(5, 1, 74);
  font-style: italic;
}

.name-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 150px;
  height: 60px;
  border-radius: 6px;
  font-size: 23px;
  font-weight: bold;
  color: rgb(5, 1, 74);
}

.name-box p {
  font-family: "Apple Chancery", cursive;
  font-weight: bold;
  margin-right: 8px;

}

.name-box input {
  border: none;
  height: 25px;
  border-radius: 3px;
  margin-top: 10px;
  padding-left: 5px;
  color: rgb(5, 1, 74);
  font-size: 15px;
  font-weight: bold;
}

input:focus {
  outline: none;
}

.name-box button {
  height: 25px;
  width: 80px;
  margin-top: 10px;
  background-color: rgb(5, 1, 74);
  border: none;
  border-radius: 10px;
  color: white;
  margin-right: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  cursor: pointer;
}

.name-box button:hover {
  opacity: 0.8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(5, 1, 74);
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 7px;
}

.heading {
  font-family: "Apple Chancery", cursive;
  color: rgb(5, 1, 74);
  font-style: italic;
}

.ques-count {
  border: 3px solid rgb(5, 1, 74);
  height: 44px;
  width: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.timer {
  border: 3px solid rgb(5, 1, 74);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#question {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  border: 2px solid rgb(5, 1, 74);
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 10px;
  color: rgb(5, 1, 74);
  font-weight: bold;
}

#options {
  margin-top: 5px;
  border: 2px solid rgb(5, 1, 74);
  border-radius: 4px;
  padding: 10px;
  display: block;
}

#options li {
  list-style: none;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid rgb(5, 1, 74);
  border-radius: 5px;
  cursor: pointer;
  color: rgb(5, 1, 74);
  font-weight: bold;
}

#options li:hover {
  background-color: rgb(5, 1, 74);
  color: rgb(255, 234, 0);
}

.score {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: rgb(5, 1, 74);
}

.result {
  text-align: center;
  padding-top: 230px;
  color: rgb(5,1,74);
  font-size: 25px;
  font-family: "Apple Chancery", cursive;
}

.correct {
  background-color: #2ecc71;
}

.wrong {
  background-color: #e74c3c; 
}

.disabled {
  pointer-events: none;
}

@media (max-width: 600px) {
  .quiz {
    width: 90%;
    padding: 20px;
  }

  .start-page h1 {
    font-size: 40px;
  }

  .name-box {
    flex-direction: column;
    gap: 10px;
  }
}